.page {
  display: flex;
  justify-content: space-between;
}

.css-w8dmq8 {
  width: 55% !important;
  box-shadow: 0 0 3px;
  height: 100vh;
  line-height: 0px !important;
}
.preview{
  width: 40%;
  box-shadow: 0 0 3px 0px;
}

.preview-questions{
  box-shadow: 0 0 7px 0;
  padding: 10px;
}

table{
  width: -webkit-fill-available;
}

.tabledata{
  border: 1px solid gray;
}

th{
  border: 1px solid gray; 
}

.form-data{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.formdata{
  border: 1px solid;
    padding: 10px;
}